@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(79, 79, 79);
  background: linear-gradient(
    360deg,
    rgba(79, 79, 79, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  min-height: 100vh;
}

.basic-card {
  @apply rounded-lg border border-gray-400 bg-white opacity-90 shadow-md shadow-gray-600;
}

.stat-card {
  @apply basic-card m-2 bg-white;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
